input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid deepskyblue;
    -webkit-box-shadow: 0 1px 0 0 deepskyblue;
    box-shadow: 0 1px 0 0 deepskyblue;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: #61DAFB;
}
body{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}
h1{
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}